@charset 'UTF-8';

a img {
	border: none
}

a {
	transition: color .3s,background-color .3s;
	text-decoration: none;
	color: #262626;
	outline: 0
}

.all-book-list a:hover {
	color: #206dba;
}

textarea {
	font: 14px/1.8 PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
	resize: none;
	outline: 0
}

select {
	font-family: PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif
}

button,input {
	font-family: PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
	border: none;
	outline: 0
}

input::-ms-clear {
	display: none
}

label {
	cursor: pointer
}

cite,em,i {
	font-style: normal
}

:-moz-placeholder {
	color: #ccc
}

::-moz-placeholder {
	color: #ccc
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #ccc
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #ccc
}

p {
	word-wrap: break-word;
	word-break: break-all
}


.book-img-text dd {
	border-bottom: 1px solid #ebebeb
}

.rank-table-list td {
	border-bottom: 1px solid #e6e6e6
}

.all-pro-wrap {
	min-height: 500px;
	background: #fff;
}

.main-content-wrap {
	width: 914px
}

.view-mode {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 12px;
	margin-top: 12px
}

.view-mode .iconfont {
	font-size: 16px;
	float: left;
	min-width: 16px;
	color: #a6a6a6
}

.view-mode .iconfont.act {
	color: #262626
}

.view-mode em {
	font: 14px/1 Arial;
	float: left;
	margin: 0 10px;
	color: #e6e6e6
}

.book-img-text li {
	height: 162px;
	padding-top: 25px;
	border-top: 1px solid #e6e6e6;
	*vertical-align: bottom
}

.book-img-text li:first-child {
	padding-top: 0;
	border-top: none
}

.book-img-text .book-img-box,.book-img-text .book-mid-info {
	float: left
}

.book-img-text .book-right-info {
	float: right
}

.book-img-text .book-img-box {
	position: relative;
	z-index: 3;
	width: 102px;
	height: 136px;
	margin-right: 16px
}

.book-img-text .book-img-box a {
	display: block;
	overflow: hidden;
	width: 102px;
	height: 136px;
	box-shadow: 0 1px 6px rgba(0,0,0,.35)
}

.book-img-text .book-img-box a img {
	width: 102px;
	height: 136px;
	-webkit-transition: -webkit-transform .4s ease-out;
	-moz-transition: -moz-transform .4s ease-out;
	-ms-transition: -ms-transform .4s ease-out;
	transition: transform .4s ease-out
}

.book-img-text .book-mid-info {
	width: 542px;
	margin-top: 5px
}

.book-img-text .book-mid-info h4 {
	font: 18px/24px PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
	overflow: hidden;
	height: 24px;
	margin-bottom: 8px
}

.book-img-text .book-mid-info h4 cite.red-kw {
	color: #bf2c24
}

.book-img-text .book-mid-info p {
	font-family: PingFangSC-Regular,'-apple-system',Simsun;
	font-size: 12px
}

.book-img-text .book-mid-info p.author {
	overflow: hidden;
	height: 16px;
	margin-bottom: 6px
}

.book-img-text .book-mid-info p.author img {
	float: left;
	width: 14px;
	height: 14px;
	margin: 1px 5px 0 0
}

.book-img-text .book-mid-info p.author a {
	line-height: 16px;
	float: left;
	color: #a6a6a6
}

.book-img-text .book-mid-info p.author i {
	font-family: PingFangSC-Regular,'-apple-system',Simsun;
	line-height: 16px;
	float: left;
	margin: 0 3px;
	color: #a6a6a6
}

.book-img-text .book-mid-info p.author em {
	font-family: Arial;
	float: left;
	margin: 1px 8px 0;
	color: #e6e6e6
}

.book-img-text .book-mid-info p.author span {
	line-height: 16px;
	float: left;
	color: #a6a6a6
}

.book-img-text .book-mid-info p.intro {
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	height: 48px;
	margin-bottom: 8px;
	color: #666
}

.book-img-text .book-mid-info p.intro cite.red-kw {
	color: #bf2c24
}

.book-img-text .book-mid-info p.update {
	line-height: 22px
}

.book-img-text .book-mid-info p.update a {
	display: inline-block;
	vertical-align: middle;
	color: #3f5a93
}

.book-img-text .book-mid-info p.update a.red {
	color: #bf2c24
}

.book-img-text .book-mid-info p.update a.red.def {
	cursor: default
}

.book-img-text .book-mid-info p.update i {
	font-family: Arial;
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
	color: #a6a6a6
}

.book-img-text .book-mid-info p.update em {
	font-family: Arial;
	margin: 0 5px
}

.book-img-text .book-mid-info p.update b {
	font: 12px/22px PingFangSC-Regular,'-apple-system',Simsun;
	display: inline-block;
	vertical-align: middle;
	color: #b5b5b5
}

.book-img-text .book-mid-info p.update b.red {
	color: #bf2c24
}

.book-img-text .book-mid-info p.update em,.book-img-text .book-mid-info p.update span {
	display: inline-block;
	vertical-align: middle;
	color: #b5b5b5
}

.book-img-text .book-right-info {
	position: relative;
	width: 224px;
	height: 136px;
	margin-top: 5px
}

.book-img-text .book-right-info .total {
	text-align: right
}

.book-img-text .book-right-info .total p {
	font: 12px/16px PingFangSC-Regular,'-apple-system',Simsun;
	margin-bottom: 6px;
	color: #666
}

.book-img-text .book-right-info .total p span {
	font: 12px/18px PingFangSC-Regular,'-apple-system',Simsun;
	margin-right: 3px;
	color: #262626
}

.book-img-text .book-right-info .price {
	padding-top: 35px;
	text-align: right
}

.book-img-text .book-right-info .price p {
	font: 18px/24px Arial;
	margin-bottom: 5px
}

.book-img-text .book-right-info .price p span {
	font-family: Arial;
	margin-right: 5px
}

.book-img-text .book-right-info .price s {
	font: 12px/1 Arial;
	display: block;
	color: #a6a6a6
}

.book-img-text .book-right-info .btn {
	font-size: 0;
	position: absolute;
	bottom: 4px;
	left: 0;
	*letter-spacing: -1
}

.book-img-text dd {
	margin-bottom: 24px
}

.book-img-text .all-img-list li {
	float: left;
	width: 457px
}

.book-img-text .all-img-list li .book-mid-info {
	width: 324px
}

.book-img-text .all-img-list li .book-mid-info p.author span {
	color: #a6a6a6
}

.book-img-text .all-img-list li .book-mid-info p.update {
	color: inherit
}

.book-img-text .all-img-list li .book-mid-info p.update span {
	color: #a6a6a6
}

.book-img-text .all-img-list li .book-mid-info p.update span.red {
	color: #bf2c24
}

.tool-bar {
	position: relative;
	height: 40px;
	margin-bottom: 24px;
	padding: 0 12px;
	background: #f7f6f2
}

.tool-bar .select-wrap {
	position: relative
}

.tool-bar .sort-count {
	position: absolute;
	top: 0;
	right: 10px
}

.tool-bar .sort-count .count-text {
	float: left;
	margin-right: 5px
}

.tool-bar .sort-count i {
	font: 14px/18px Arial;
	float: left;
	margin-top: 10px;
	padding-left: 10px;
	color: #e6e6e6
}

.tool-bar .sort-count .yiwen {
	position: relative;
	float: left
}

.tool-bar .sort-count .yiwen .iconfont {
	font-size: 14px;
	font-weight: 400;
	min-width: 14px;
	margin: 0 0 0;
	cursor: pointer;
	transition: color .3s;
	color: #bfbfbf;
	-webkit-text-stroke-width: 0
}

.tool-bar .sort-count .yiwen .iconfont:hover {
	color: #a6a6a6
}

.tool-bar .count-info {
	font: 12px/40px PingFangSC-Regular,'-apple-system',Simsun;
	color: #a6a6a6
}

.tool-bar .count-info span {
	font: 12px/16px Arail;
	margin: 0 5px;
	color: #262626
}

.tool-bar .select-wrap a {
	font: 12px/40px PingFangSC-Regular,'-apple-system',Simsun;
	position: relative;
	display: inline-block;
	height: 40px;
	vertical-align: middle;
	color: #a6a6a6
}
.tool-bar .select-wrap a.act {
	font-weight: 700;
	color: #ed4259
}

.tool-bar .select-wrap a.act cite {
	font-weight: 400;
	color: #ed4259
}

.tool-bar .select-wrap>a {
	margin-right: 10px;
	margin-left: 10px
}
.select-wrap a:hover{
	color:#ed4259
}

.tool-bar .select-wrap>a:first-child {
	margin-left: 0
}

.tool-bar .select-wrap em {
	font: 14px/18px Arial;
	display: inline-block;
	margin-top: -3px;
	margin-right: 14px;
	vertical-align: middle;
	color: #e6e6e6
}

.range-sidebar .selected p,.select-list .sub-type,.select-list .work-filter ul {
	overflow: hidden;
	*zoom: 1
}

.range-sidebar .selected,.range-sidebar .site,.select-list .work-filter {
	border-bottom: 1px solid #ebebeb
}

.all-pro-wrap {
	padding: 20px;
}

.range-sidebar {
	width: 216px;
	margin-right: 30px
}

.range-sidebar .site {
	height: 29px
}

.range-sidebar .site a {
	font: 12px/25px PingFangSC-Regular,'-apple-system',Simsun;
	display: inline-block;
	width: 60px;
	height: 29px;
	text-align: center
}

.range-sidebar .site a.act {
	font-weight: 700;
	height: 28px;
	color: #ed4259;
	border-top: 2px solid #ed4259;
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	background: #fff
}

.range-sidebar .selected {
	margin-bottom: 15px
}

.range-sidebar .selected p {
	padding: 14px 0 8px
}

.range-sidebar .selected span {
	font: 700 12px/18px PingFangSC-Regular,'-apple-system',Simsun;
	display: block;
	margin-bottom: 10px
}

.range-sidebar .selected a {
	font: 12px/18px PingFangSC-Regular,'-apple-system',Simsun;
	position: relative;
	float: left;
	height: 18px;
	margin: 0 8px 8px 0;
	padding: 0 0 0 4px;
	color: #fff;
	border: 1px solid #ed4259;
	background: #ed4259
}

.range-sidebar .selected a cite {
	font-size: 14px;
	display: inline-block;
	margin-top: -1px;
	vertical-align: middle;
	color: #fff
}

.range-sidebar .selected a:hover .lbf-icon {
	color: #e2a9a3
}

.range-sidebar .selected a.all {
	padding-right: 4px
}

.range-sidebar .selected a.all:hover {
	cursor: default
}

.range-sidebar .selected a.all cite {
	display: none
}

.book-img-text .all-img-list li:first-child+li {
	padding-top: 0;
	border-top: none
}

.select-list .work-filter {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 6px
}

.select-list .work-filter.tag {
	border-bottom: none
}

.select-list .work-filter h3 {
	font-family: PingFangSC-Regular,'-apple-system',Simsun;
	font-size: 12px;
	margin-bottom: 15px
}

.select-list .work-filter ul {
	min-height: 27px
}

.select-list .work-filter ul li {
	float: left;
	height: 20px;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 0 4px;
	text-align: center
}

.select-list .work-filter ul li.act {
	background: #333
}

.select-list .work-filter ul li.act a {
	color: #fff
}

.select-list .work-filter ul li.arrow a {
	position: relative;
}

.select-list .work-filter ul li.arrow cite {
	position: absolute;
	top: 21px;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -5px;
	border-top: 0 none;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #e5e5e5;
	border-left: 5px solid transparent
}

.select-list .work-filter ul li.arrow cite i {
	position: absolute;
	top: 1px;
	right: -5px;
	width: 0;
	height: 0;
	border-top: 0 none;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #f7f6f2;
	border-left: 5px solid transparent
}

.select-list .sub-type {
	position: relative;
	z-index: 1;
	clear: both;
	width: 100%;
	margin-top: -2px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	background: #f7f6f2
}

.select-list .sub-type dl {
	padding: 8px 12px 0
}

.select-list .sub-type dd {
	font: 12px/28px PingFangSC-Regular,'-apple-system',Simsun;
	float: left;
	margin-right: 10px;
	word-wrap: break-word
}

.select-list .sub-type dd.act a {
	line-height: 20px;
	min-width: 56px;
	height: 20px;
	color: #fff;
	background: #333
}

.no-data {
	width: 300px;
	margin: 60px auto 30px;
	text-align: center
}

.no-data .no-result-img {
	padding: 47px 0 13px
}

.no-data h3 {
	font: 16px/24px PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif
}

.no-data p {
	font: 14px/24px PingFangSC-Regular,'-apple-system',Simsun;
	color: #a6a6a6
}

.no-data p .blue {
	margin: 0 5px
}

.tool-bar .select-wrap .lbf-checkbox+label {
	font: 12px/40px PingFangSC-Regular,'-apple-system',Simsun
}

.tool-bar .select-wrap .lbf-combobox {
	display: inline-block;
	vertical-align: middle;
	*display: inline
}

.tool-bar .select-wrap .lbf-combobox .lbf-combobox-label {
	line-height: 18px;
	height: 18px;
	padding-right: 20px;
	padding-left: 12px;
	background: 0 0
}

.tool-bar .select-wrap .lbf-combobox .lbf-combobox-label:hover {
	color: #ed4259
}

.tool-bar .select-wrap .lbf-combobox .lbf-combobox-label .iconfont {
	font-size: 12px;
	line-height: 24px;
	display: inline-block;
	min-width: 12px;
	margin: -1px 0 0 4px;
	vertical-align: middle;
	color: #a6a6a6
}

.box-center {
	overflow: hidden;
	width: 1160px;
	margin-right: auto;
	margin-left: auto
}

.fl {
	float: left
}

.fr {
	float: right
}


.page-box {
	min-height: 25px;
	padding: 40px 0
}

.page-box .pagination {
	overflow: hidden;
	*zoom: 1
}

.page-box .pagination ul {
	float: left
}

.page-box .pagination li {
	float: left;
	margin-right: 10px;
	text-align: center
}

.page-box .pagination li a {
	font: 14px/22px Arial;
	float: left;
	height: 22px;
	padding: 0 7px;
	transition: color .3s,border .3s;
	border: 1px solid #fff
}

.page-box .pagination li a:hover {
	border: 1px solid #ed4259
}

.page-box .pagination .lbf-pagination-next,.page-box .pagination .lbf-pagination-prev {
	font-family: simsun;
	line-height: 24px
}

.page-box .pagination .lbf-pagination-current {
	color: #fff;
	border: 1px solid #ed4259;
	background: #ed4259
}

.page-box .pagination .lbf-pagination-disabled {
	cursor: default;
	color: #ccc
}

.page-box .pagination .lbf-pagination-disabled:hover {
	border: 1px solid #fff;
	background: 0 0
}

.page-box .pagination .lbf-pagination-jump {
	float: left
}

.page-box .pagination .lbf-pagination-jump input {
	font: 12px/22px Arial;
	display: inline-block;
	width: 40px;
	height: 22px;
	margin-right: 10px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #f2f2f2
}

.page-box .pagination .lbf-pagination-jump input:focus {
	border: 1px solid #bbdaff
}

.page-box .pagination .lbf-pagination-jump .lbf-pagination-go {
	font: 12px/22px PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
	display: inline-block;
	width: 34px;
	height: 22px;
	transition: color .3s,border .3s;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #f2f2f2
}

.page-box .pagination .lbf-pagination-jump .lbf-pagination-go:hover {
	border: 1px solid #ed4259
}

.search-box {
	width: 910px;
}

.all-pro-wrap .detail-aside {
	width: 249px;	
}

.book-img-text .search-list li {
	width: 910px;
}

.book-img-text .search-list li .book-mid-info {
	width: 770px;
}

.no-result-wrap {
	margin-bottom: 30px;
	padding-bottom: 30px;
	text-align: center
}

.no-result-wrap .no-result-img {
	padding: 47px 0 13px
}

.no-result-wrap h3 {
	font: 16px/24px PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif
}

.no-result-wrap p {
	font: 14px/24px PingFangSC-Regular,'-apple-system',Simsun;
	color: #a6a6a6
}

.no-result-wrap p .blue {
	margin: 0 5px
}

.no-data-img {
	display: block;
	width: 142px;
	height: 100px;
	margin: 0 auto;
	background: url(../img/big_wu.0.4.png) no-repeat
}
